{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} CONTATO|{{ block.super }}{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-12 mt-2">
        <div class="card">
            <div class="card-header text-center text-muted">
                SIGTOMB
            </div>
            <div class="card-body">
                <div class="h-100 p-4 bg-light border rounded-3">
                    <div class="bg-light p-3 rounded-lg m-3">
                        <h1 class="display-5">Sistema de Gerenciamento de Tombamentos</h1>
                        <p class="lead">Página de Contato em construção.</p>
                        <form action="{% url 'core:contato' %}" method="post" class="form text-center" autocomplete="off">
                            {% csrf_token %}
                            formulario
                            {{ form|crispy }}
                            <a href="" class="btn btn-sm btn-primary">Enviar mensagem</a>
                        </form>
                        <hr class="my-4">
                        <a href="{% url 'core:home' %}" class="btn btn-sm btn-primary">Ir a Home</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-center text-muted">
                    Powered_by_Subseção de Logística CPTran/BPTran - 2021
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}